* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Courier New', Courier, monospace;
  color: var(--primary);
  background-color: var(--light);
  line-height: 1.5;
}

header{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
